

    #foto_profil{
        border: solid 3px black;
        transition: .2s;
        box-shadow: 2px 2px 3px gray;
        border-radius: 7px;
    }
    

    #foto_profil:hover{
        transform: scale(1.5);

    }
    body{
        padding: 15px
    }
    table{
        border-spacing: 0px;
    }
    td, th{
        padding: 15px;
    }

    tr:hover{
        font-weight: bold;
        color: black;

    }

    pre {
        font-size: 15px;
    }

    .table {
        color: black;
    }

    .table_judul th {
        background-color: rgba(99, 100, 99, 0.623);

    }
    

